
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  background-color: #1e152c !important;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .toggle {
    display: none;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links.active {
    display: flex;
    flex-direction: column;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ff6600;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
  
    .toggle {
      display: block;
    }
  
    .nav-links {
      display: none;
      width: 100%;
      text-align: center;
      padding-top: 20px;
    }
  
    .nav-links.active {
      display: block;
    }
  
    .nav-links li {
      display: block;
      margin: 10px 0;
    }
  }
  